
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-body: 'IBM Plex Mono', monospace;
  --font-heading: 'Indie Flower', cursive;
}

body {
  background-color: white;
  color: black;
  font-family: var(--font-body);
}

h1, h2, h3{
  font-family: var(--font-heading);
}
