
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-body: 'Nord', sans-serif;
  --font-heading: 'Mont', sans-serif;
}

body {
  background-color: white;
  background: #ebebeb;
  color: black;
  font-family: var(--font-body);
}

h1, h2, h3{
  font-family: var(--font-heading);
}
